<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mbot_ranger_dashing_raptor">

  <!-- Use this if parameters are set from the launch file, otherwise delete -->
  <xacro:arg name="prefix" default="" />

  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="mock_sensor_commands" default="false" />
  <xacro:arg name="sim_gazebo_classic" default="false" />
  <xacro:arg name="sim_gazebo" default="false" />
  <xacro:arg name="simulation_controllers" default="" />

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <material name="orange">
    <color rgba="1 0.3 0.1 1"/>
  </material>

  <material name="blue">
    <color rgba="0.2 0.2 1 1"/>
  </material>

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <xacro:include filename="$(find mbot_description)/urdf/mbot_ranger_dashing_raptor/mbot_ranger_dashing_raptor_macro.xacro"/>
  <xacro:include filename="$(find mbot_description)/urdf/mbot_ranger_dashing_raptor/mbot_ranger_dashing_raptor_macro.ros2_control.xacro"/>

  <!-- Load robot's macro with parameters -->
  <!-- set prefix if multiple robots are used -->
  <xacro:mbot_ranger_dashing_raptor prefix="$(arg prefix)" parent="world" >
    <origin xyz="0 0 0" rpy="0 0 0" />          <!-- position robot in the world -->
  </xacro:mbot_ranger_dashing_raptor>

  <xacro:mbot_ranger_dashing_raptor_ros2_control
    name="mbot_ranger_dashing_raptor"
    prefix="$(arg prefix)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    sim_gazebo_classic="$(arg sim_gazebo_classic)"
    sim_gazebo="$(arg sim_gazebo)"
    simulation_controllers="$(arg simulation_controllers)" />

</robot>
